.hire__people {
  padding: 3rem 0;
}
.hire__title {
  font-size: 1.8rem;
  margin: 1rem 0;
}
.hire__people__grid {
  display: grid;
  grid-template-columns: 1fr;
}
.hire__people__job {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
}
.job__title {
  font-size: 1.3rem;
  font-weight: 700;
}
.job__details {
  margin: 0.5rem 0;
}
.job__detail__label {
  font-weight: 700;
}
.job__view__btn {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}
@media (min-width: 768px) {
  .hire__people__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .hire__people__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
  }
  .hire__title {
    font-size: 2rem;
  }
  .job__title {
    font-size: 1.5rem;
  }
}
