.navbar {
  background-color: #fff;
  top: 0;
  z-index: 5;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar__logo {
  position: relative;
}
.navbar__mobile__btn {
  position: absolute;
  right: 0;
  top: 25%;
  font-size: 1.2rem;
  color: #333;
}
.navbar__mobile__btn:hover {
  color: #01b7ff;
}
.navbar__logo__h1 {
  font-size: 1.3rem;
  padding: 1rem 0;
}
.navbar__list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 800ms;
}

.navbar__item {
  padding: 1rem 0;
}
.navbar__link {
  color: #333;
}
.navbar__link:hover {
  color: #01b7ff;
}
.navbar__list--opened {
  max-height: 100vh;
  transition: max-height 800ms;
}
