.navbar {
  background-color: #fff;
  top: 0;
  z-index: 5;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar__logo {
  position: relative;
}
.navbar__mobile__btn {
  position: absolute;
  right: 0;
  top: 25%;
  font-size: 1.2rem;
  color: #333;
}
.navbar__mobile__btn:hover {
  color: #01b7ff;
}
.navbar__logo__h1 {
  font-size: 1.3rem;
  padding: 1rem 0;
}
.navbar__list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 800ms;
}

.navbar__item {
  padding: 1rem 0;
}
.navbar__auth {
  padding: 0.3rem 0.6rem;
  margin: 0 0.3rem;
}
.navbar__link {
  color: #333;
}
.navbar__link:hover {
  color: #01b7ff;
}
.navbar__list--opened {
  max-height: 100vh;
  transition: max-height 800ms;
}
@media (min-width: 1280px) {
  .navbar__container {
    display: flex;
  }
  .navbar__mobile__btn {
    display: none;
  }
  .navbar__list {
    max-height: 100%;
    display: flex;
  }
  .navbar__item {
    padding: 1.2rem 0;
  }
  .navbar__link {
    display: inline-block;
    padding: 0 1rem;
  }
  .navbar__list--left {
    justify-content: flex-end;
  }
  .navbar__logo,
  .navbar__list--left,
  .navbar__list--right {
    flex: 1;
  }
}
