.form__div {
  margin: 10% auto;
  background-color: #fff;
  width: 500px;
  padding: 3rem;
}
.form__title {
  text-align: center;
  font-size: 1.4rem;
}
.form__label {
  display: inline-block;
  margin: 0.5rem 0;
  font-weight: 600;
}
.form__input {
  padding: 0.5rem 0;
}
.form__input__field {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
}
.btn__submit {
  border: 0;
  display: block;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1rem 0;
}
.redirect__register {
  text-align: center;
  padding: 2rem 0;
  height: 100%;
}

.redirect__register__title {
  margin: 1rem 0;
}

.redirect__employer__register__btn {
  display: inline-block;
  color: #ff8800;
  background-color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  font-weight: 700;
  border: 1px solid #6e6e6e;
}
