.showcase {
  height: 60vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
}
.showcase__title {
  font-size: 1.8rem;
}
.showcase__secondary {
  font-size: 1.2rem;
  margin: 0.3rem 0;
}
.showcase__action {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
}
