.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 1rem;
}
.btn--primary {
  background-color: #00cf00;
  color: #fff;
}
.btn--secondary {
  background-color: #ff8800;
  color: #fff;
}
.push__footer {
  min-height: calc(100vh - 50px);
}
